<div class="row">
  <div class="medium-8 columns">
    <h1 class="static-header">About</h1>

    <p>
      2016 has been a year that's highlighted deep divisions in society.
      Sadly, instead of reaching out to those we disagree with to help
      them understand our points of view and to help us to understand theirs,
      we've retreated to the comfort of echo chambers on social media and
      mainstream news of our choosing.
      By limiting our exposure to the opinions of those who agree with us,
      we've lost empathy for each other.
      The fact that many people are saying, "I don't care that I don't
      have empathy for <em>them</em>", epitomizes this.
    </p>

    <br>

    <blockquote>
      <p class="lead">
        <em>
          <strong>EchoRemix</strong> is a platform to respectfully and anonymously discuss
          political issues with people who live outside our immediate communities.
        </em>
      </p>
    </blockquote>

    <br>

    <p>
      Ideally, this website will provide us with an opportunity to talk with
      people who might have a different point of view.
      My sincere hope is that people choosing to use this website
      will come to each conversation with an open mind and a willingness
      to listen.
    </p>

    <p>
      To help keep conversations candid, participants will be invited to
      engage in anonymous one-on-one text-chat sessions on a
      controversial topic (e.g. "Healthcare Reform" or "Gun Control").
    </p>

    <p>
      Once you feel like the conversation has reached its conclusion,
      hit the <code>next</code> button and you'll be assigned to a new
      conversation.
      If you have questions about how this works,
      take a look at the <%= link_to "FAQs", faq_path %> and the
      <%= link_to "community guidelines", community_guidelines_path %>
      that users are asked to abide by.
    </p>
  </div>
</div>
