<div class="row">
  <div class="medium-8 columns">
    <h1 class="static-header">Community Guidelines</h1>

    <p>
      EchoRemix is both a place to share and a place to listen.
      By participating, you will:
    </p>
    <ul class="guidelines">
      <li>Keep an open mind</li>
      <li>Give others a chance to explain themselves fully</li>
      <li>Share evidence that supports your points of view (especially when asked)</li>
      <li>Be prepared to confront uncomfortable and taboo differences</li>
      <li>Engage with others who disagree with you on fundamental issues</li>
      <li>Articulate your opinions fully and without restraint</li>
      <li>Strive for better mutual understanding</li>
    </ul>

    <p>
      When asking for clarification about a point that feels offensive to you,
      ask open-ended questions.
      For example, when discussing abortion,
      if someone makes a comment about their definition of human
      life that you disagree with, ask why they think that,
      instead of telling them that they're wrong.
    </p>

    <p>
      It never hurts to start your statements with "For me...".
      Start by talking about your opinions and your background, because, after all,
      that's what you know best.
    </p>

    <p>
      The goal is not necessarily to convince others to change their mind.
      The goal is for others to have a better understanding of how you have come to
      a different point of view. For example, a religious person should <em>not</em>
      strive to convince an atheist that God exists.
      Rather, at the end of the conversation, both parties should have a better
      understanding of why it could be reasonable for someone else to hold an opposing view.
    </p>

    <p>
      Thank you for engaging in this experiment. Hopefully we will all grow to have
      greater empathy for one another and have the courage to seek out those who
      disagree with us even on the most fundamental issues.
      It seems foolish for us to get locked into an echo chamber.
      Hopefully, this is one of many ways for us to keep the door open.
    </p>
  </div>
</div>
