<div class="row">
  <div class="medium-8 columns">
    <h1 class="static-header">Frequently Asked Questions</h1>

    <p class="faq-question">Can I save my conversations?</p>
    <p class="faq-answer">
      No. EchoRemix does not store any of the messages sent by users.
      Conversations are destroyed as soon as either user clicks <code>Next Conversation</code>.
    </p>

    <p class="faq-question">What if someone takes a screenshot?</p>
    <p class="faq-answer">
      If you're concerned that what you've said could be embarrassing if it were traced back to you,
      then be sure to use a generic nickname like <code>John Doe</code> and refrain from sharing
      any personally identifiable information.
    </p>

    <p class="faq-question">What if I want to continue my conversation?</p>
    <p class="faq-answer">
      Feel free to exchange email addresses or Twitter handles so you can get
      in touch in the future.
    </p>

    <p class="faq-question">Is it ok to play devil's advocate?</p>
    <p class="faq-answer">
      Absolutely. Just remember to stay civil and to keep the tone constructive.
    </p>

    <p class="faq-question">What do I do if someone is attacking me?</p>
    <p class="faq-answer">
      If you ever feel uncomfortable during a conversation, remember that you're in control.
      Don't hesitate to push <code>Next Conversation</code>. You won't be matched with
      the same person again during the same session. Because every user is
      anonymous, beware that as soon as you close your browser, you'll be treated
      as a brand new user again.
      As a result, there's no way for the system to police bad user behavior
      or to know who you might be matched with in the future.
    </p>
  </div>
</div>
