<div class="callout <%= alert_type(type) %> flash-message" data-closable>
  <%= message %>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
